<div class="main-content">
    <div class="story-gallery">
        <div class="stroy story1">
            <img src="assets/upload.png">
            <p>Post Story</p>
        </div>
        <div class="stroy story2">
            <img src="assets/member-1.png">
            <p>Abir</p>
        </div>
        <div class="stroy story3">
            <img src="assets/member-2.png">
            <p>Souhaail</p>
        </div>
        <div class="stroy story4">
            <img src="assets/member-3.png">
            <p>Abdou</p>
        </div>
        <div class="stroy story5">
            <img src="assets/member-4.png">
            <p>Bouhmid</p>
        </div>
    </div>
    <div class="write-post-container">
        <div class="user-profil">
            <img src="assets/hamzaprofile.jpg">
            <div>
                <p>Hamza Ben Hamouda</p>
                <small>Public<i class="fa-solid fa-caret-down"></i></small>
            </div>
        </div>
        <div class="post-input-container">
            <textarea  rows="3" placeholder="whats on your mind, hamza?"></textarea>
            <div class="add-post-links">
                <a href="#"><img src="assets/live-video.png">Live Video</a>
                <a href="#"><img src="assets/photo.png">Photo/Video</a>
                <a href="#"><img src="assets/feeling.png">Feling/Activity</a>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-raw">
            <div class="user-profil">
                <img src="assets/hamzaprofile.jpg">
                <div>
                    <p>Hamza Ben Hamouda</p>
                    <span>April 26 2022, 10:15 am</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>

        </div>
        
        <P class="post-text">Subscribe <span>@Hhhb</span> Youtube channel to watch more videos on website Development and UI desingns. <a href="#">#Hhhb</a> <a href="#">#YoutubeChannel</a></P>
        <img src="assets/feed-image-1.png" class="post-img"> 
        <div class="post-row">
            <div class="activity-icon">
                <div><img src="assets/like-blue.png">120</div>
                <div><img src="assets/comments.png">45</div>
                <div><img src="assets/share.png">20</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/hamzaprofile.jpg"><i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-raw">
            <div class="user-profil">
                <img src="assets/hamzaprofile.jpg">
                <div>
                    <p>Hamza Ben Hamouda</p>
                    <span>April 26 2022, 10:15 am</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>

        </div>
        
        <P class="post-text">Like and share this  project with your friends, tag<span>@Hhhb</span> facboook profile on your post. Ask your doubts in the comments <a href="#">#Hhhb</a> <a href="#">#YoutubeChannel</a></P>
        <img src="assets/feed-image-2.png" class="post-img"> 
        <div class="post-row">
            <div class="activity-icon">
                <div><img src="assets/like-blue.png">120</div>
                <div><img src="assets/comments.png">45</div>
                <div><img src="assets/share.png">20</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/hamzaprofile.jpg"><i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-raw">
            <div class="user-profil">
                <img src="assets/hamzaprofile.jpg">
                <div>
                    <p>Hamza Ben Hamouda</p>
                    <span>April 26 2022, 10:15 am</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>

        </div>
        
        <P class="post-text">Like and share this  project with your friends, tag<span>@Hhhb</span> facboook profile on your post. Ask your doubts in the comments <a href="#">#Hhhb</a> <a href="#">#YoutubeChannel</a></P>
        <img src="assets/feed-image-3.png" class="post-img"> 
        <div class="post-row">
            <div class="activity-icon">
                <div><img src="assets/like-blue.png">120</div>
                <div><img src="assets/comments.png">45</div>
                <div><img src="assets/share.png">20</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/hamzaprofile.jpg"><i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-raw">
            <div class="user-profil">
                <img src="assets/hamzaprofile.jpg">
                <div>
                    <p>Hamza Ben Hamouda</p>
                    <span>April 26 2022, 10:15 am</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>

        </div>
        
        <P class="post-text">Like and share this  project with your friends, tag<span>@Hhhb</span> facboook profile on your post. Ask your doubts in the comments <a href="#">#Hhhb</a> <a href="#">#YoutubeChannel</a></P>
        <img src="assets/feed-image-4.png" class="post-img"> 
        <div class="post-row">
            <div class="activity-icon">
                <div><img src="assets/like-blue.png">120</div>
                <div><img src="assets/comments.png">45</div>²
                <div><img src="assets/share.png">20</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/hamzaprofile.jpg"><i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-raw">
            <div class="user-profil">
                <img src="assets/hamzaprofile.jpg">
                <div>
                    <p>Hamza Ben Hamouda</p>
                    <span>April 26 2022, 10:15 am</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>

        </div>
        
        <P class="post-text">Like and share this  project with your friends, tag<span>@Hhhb</span> facboook profile on your post. Ask your doubts in the comments <a href="#">#Hhhb</a> <a href="#">#YoutubeChannel</a></P>
        <img src="assets/feed-image-5.png" class="post-img"> 
        <div class="post-row">
            <div class="activity-icon">
                <div><img src="assets/like-blue.png">120</div>
                <div><img src="assets/comments.png">45</div>
                <div><img src="assets/share.png">20</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/hamzaprofile.jpg"><i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>

    <button type="button" class="load-more-btn">Load More</button>

</div>