<div class="box">
    <div class="box-title">
      <img src="assets/HSpaceBlack.png">
    </div>
    <div class="box-form">
      <form action="#">
        <input type="text" placeholder="Email address or phone number">
        <input type="password" placeholder="Password">
        <button type="submit" class="box-form-btn"> <a href="index.html" class="box-form-btn-link">Log In</a></button>
        <a href="#" class="box-form-forget">Forgotten Password</a>
      </form>
      <hr>
      <div class="create-btn">
        <a href="#" target="_blank">Create New Account</a>
      </div>
    </div>
</div>
